*{
    padding: 1;
    margin: 1;
    font-family: Helvetica;
    color: #0f0a0a;
    box-sizing: border-box;
}
main {
    text-align: center;
}
button{
    background-color: #fdfdfd;
    color: #751119;
    border: 2xp solid #102f5e;
    padding: .3rem .6rem;
    font-size: 1rem;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}
button:hover { /* para mudar a cor dos botoes*/
    color:#fff;
    background-color: #35218b;
}
#value {
    font-size: xx-large;
    color: rgb(15, 124, 226);
}
.container{
    max-width: 450px;
    margin: 3rem auto ;
    background: #5d1288;
    padding: 1.5rem;
    border-radius: 15px;
}